{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1>PASCASARJA</h1>
    <div class="img">
        <img src="{% static 'img/img-pascasarjana.jpeg' %}" width="200px">
    </div>
    <h2>Program Studi di Pascasarjana</h2>
    <p>1. Doktor Pendidikan</p>
    <p>2. Doktor Ilmu Akuntansi</p> 
    <p>3. Magister Ilmu Hukum</p> 
    <p>4. Magister Ilmu Pertanian</p> 
    <p>5. Magister Administrasi Publik</p> 
    <p>6. Magister Akuntansi</p> 
    <p>7. Magister Ilmu Komunikasi</p> 
    <p>8. Magister Manajemen</p> 
    <p>9. Magister Teknik Kimia</p> 
    <p>10. Pendidikan Bahasa Indonesia</p> 
    <p>11. Pendidikan Bahasa Inggris</p> 
    <p>12. Pendidikan Matematika</p> 
    <p>13. Teknologi Pendidikan</p>

{% endblock %}