{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1>FAKULTAS TEKNIK</h1>
    <div class="img">
        <img src="{% static 'img/img-ft.jpeg' %}" width="200px">
    </div>
    <h2>Sejarah Fakultas Teknik Universitas Sultan Ageng Tirtayasa</h2>
    <p>Fakultas Teknik Untirta merupakan salah satu fakultas yang menjadi cikal bakal berdirinya Untirta. Lahirnya Fakultas Teknik berawal dari gagasan jajaran direksi dan manajemen PT. Krakatau Steel (Bapak Ir. Djoko Subagyo dan Team). Fakultas Teknik terlahir sebagai wujud cita-cita masyarakat, ulama, cendekiawan dan para pemimpin se-wilayah Banten serta dengan dukungan PT. Krakatau Steel dan industri petrokimia di kawasan industri Cilegon.</p>
    <p>Berdirinya Fakultas Teknik diawali dengan berdirinya Sekolah Tinggi Teknologi yang didirikan oleh PT. Krakatau Steel pada tahun 1982 dengan ijin penyelenggaraan untuk tingkat Sarjana Muda (Non Gelar) dari Kopertis Wilayah IV Jawa Barat Nomor: 040/1982. Kemudian pada tahun 1984 berdasarkan Surat Keputusan Menteri Pendidikan dan Kebudayaan RI Nomor: 0596/O/1984, Sekolah Tinggi Teknologi menggabungkan diri ke dalam Universitas Tirtayasa Banten.</p>
    <p>Selanjutnya pada tanggal 13 Oktober 1999 keluar Keputusan Presiden Republik Indonesia No. 130 tentang Persiapan Pendirian Universitas Negeri Sultan Ageng Tirtayasa. Dengan keluarnya Surat Keputusan Presiden Republik Indonesia Nomor 32 tanggal 19 Maret tahun 2001 maka Universitas Sultan Ageng Tirtayasa yang menaungi Fakultas Teknik menjadi Perguruan Tinggi Negeri di lingkungan Departemen Pendidikan Nasional. Sesuai dengan peralihan status Universitas Tirtayasa (semula swasta) menjadi Universitas Sultan Ageng Tirtayasa dengan status sebagai Perguruan Tinggi Negeri (PTN) di lingkungan Depdiknas, maka pola pengelolaan kelembagaan secara otomatis mengikuti semua ketentuan dari Departemen Pendidikan Nasional.</p>

    <h3>Program Studi di Fakultas Teknik</h3>
    <p>1. Jurusan Teknik Elektro</p>
    <p>2. Jurusan Teknik Industri</p> 
    <p>3. Jurusan Teknik Kimia</p> 
    <p>4. Jurusan Teknik Mesin</p>
    <p>5. Jurusan Teknik Metalurgi</p> 
    <p>6. Jurusan Teknik Sipil</p>

{% endblock %}