{% load static %}

<footer class="bg-info">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="">
                <img src="{% static 'img/img-logo.png' %}" alt="UNTIRTA" width="100px">
                <p>UNTIRTA</p>
            </a>
        </div>
            
        <div class="footer-address">
            <ul>
                <li>Universitas Sutan Ageng Tirtayasa</li>
                <li>Jl. Raya Palka Km 3 Sindangsari, Pabuaran, Kab. Serang Provinsi Banten</li>
            </ul>
        </div>
        <div class="footer-contact">
            <ul>
                <li>Telp : +62254 3204321</li>
                <li>Fax : +62254 281254</li>
                <li>Email : humas@untirta.ac.id</li>
                <li><a href="https://instagram.com/untirta_official?igshid=YmMyMTA2M2Y=">
                    <i class="fa-brands fa-instagram"></i>
                    untirta_official
                </a></li>
            </ul>
        </div>
    </div>
</footer>