{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1>Universitas Sultan Ageng Tirtayasa</h1>
    <div class="img">
        <img src="{% static 'img/img-home.jpeg' %}" width="700px">
    </div>
    <p>Universitas Sultan Ageng Tirtayasa dimulai dari Yayasan Pendidikan Tirtayasa yang didirikan tanggal 1 Oktober 1980, berkedudukan di Serang, Banten. Pendirian yayasan ini dikukuhkan berdasarkan Akte Notaris Rosita Wibisono, SH. No. 1 tanggal 1 Oktober 1980, yang kemudian diadakan perubahan melalui Akte Notaris Ny. R. Arie Soetardjo, SH. No. 1 tanggal 3 Maret 1986. Maksud dan tujuan pendirian yayasan ini adalah membantu usaha-usaha pemerintah dalam bidang pendidikan umum, mendirikan sekolah-sekolah mulai dari taman kanak-kanak sampai dengan perguruan tinggi, termasuk juga sekolah-sekolah kejuruan, merencanakan dan mengusahakan sarana pendidikan, serta sarana olah raga. Universitas Sultan Ageng Tirtayasa terdiri dari 7 fakultas, 66 program study, dan 777 dosen.</p>
    <p>Universitas Sultan Ageng Tirtayasa memiliki 6 jalur pendaftaran yaitu SNMPTN, SBMPTN, SMMPTN Barat, SMM Fakultas Kedokteran, UMM D3 dan Alih Jenjang S1.</p>
    
    <h2>Visi dan Misi Universitas Sultan Ageng Tirtayasa Tahun 2019-2023</h2>
    <h3>Visi</h3>
    <p>Terwujudnya UNTIRTA Sebagai Integrated Smart and Green (It’S Green) University yang UNGGUL, BERKARAKTER DAN BERDAYA SAING, di Kawasan ASEAN tahun 2030</p>
    <h3>Misi</h3>
    <p>1. Meningkatkan kualitas, relevansi dan daya saing pendidikan serta lulusan yang unggul, berkarakter dan berdaya saing di kawasan ASEN.</p>
    <p>2. Meningkatkan kualitas dan kuantitas penelitian dan pengabdian kepada masyarakat yang inovatif berbasis kebutuhan nyata sesuai perkembangan zaman</p>
    <p>3. Meningkatkan daya dukung tatakelola perguruan tinggi yang baik sebagai implementasi dari Integrated Smart and Green (It’S Green) University.</p>

    <h2>Value JAWARA (Jujur Adil Wibawa Amanah Religius Akuntabel)</h2>
    <p>“UNTIRTA merupakan rumah yang tidak hanya berperan sebagai tempat, namun juga sebagai sumber pengetahuan, keteladanan, dan kebajikan. Oleh karena itu seluruh sivitas akademikanya berkewajiban menjunjung tinggi nilai-nilai dasar dalam melaksanakan tugas dan tanggungjawabnya.” (Sulaiman. 2019)</p>
{% endblock %}