{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1>FAKULTAS KEDOKTERAN</h1>
    <div class="img">
        <img src="{% static 'img/img-fk.jpeg' %}" width="200px">
    </div>
    <h2>Sejarah Fakultas Kedokteran Universitas Sultan Ageng Tirtayasa</h2>
    <p>Fakultas Kedokteran UNTIRTA merupakan fakultas baru di universitas Sultan Ageng Tirtayasa yang terbentuk sejak program studi pendidikan dokter disahkan berdasarkan SK Menteri Riset Teknologi dan Pendidikan Tinggi Republik Indonesia Nomor 283/KPT/I/2019. Program studi Kedokteran Untirta saat ini dibawah pengampuan FK UI.</p>
    <p>Program Studi ini bertujuan untuk menghasilkanntenaga dokter yang kompeten di tingkat nasional dan internasional. Program studi kedokteran Untirta merupakan langkah strategis dalam memperluas peran UNTIRTA pada masalah kesehatan yang dihadapi masyarakat Indonesia pada umumnya dan masyarakat banten pada khususnya.</p>
    <p>Kurikulum yang diterapkan adalah kurikulum yang mengacu pada Standar Kompetensi Indonesia (SKDI) 2012, yang merupakan kurikulum pendidikan dokter modern dengan menerapkan strategi pembelajaran yang berpusat pada mahasiswa, berbasis masalah, terintegrasi horizontal dan vertikal, berbasis komunitas, memungkinkan paparan terhadap setting klinik lebih awal, memberikan pilihan luas mahasiswa untuk mendalami bidang ilmu yang diinginkan dan pelaksanaan yang sistematik.</p>
    <p>Struktur kurikulum dibagi dalam 2 tahap, yaitu:</p>
    <p>1. Tahap sarjana kedokteran yang ditempuh selama 8 semester dengan gelar Sarjana Kedokteran (S.Ked)</p>
    <p>2. Tahap profesi dokter yang ditempuh selama 4 semester dengan gelar Dokter (dtr).</p>
    
    <h3>Program Studi di Fakultas Kedokteran</h3>
    <p>1. Prodi Kedokteran</p>
    <p>2. Prodi Keperawatan S1</p>
    <p>3. Prodi Keperawatan D3</p>
    <p>4. Prodi S1 Gizi</p>
    <p>5. Prodi Ilmu Keolahragaan</p>

{% endblock %}